@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf) format('ttf');
}
@font-face {
    font-family: 'Lora';
    src: url(../assets/fonts/lora/Lora-VariableFont_wght.ttf) format('ttf');
}
@font-face {
    font-family: 'Inconsoltata';
    src: url(../assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf) format('ttf');
}