.section-hero {
    @media (max-width: 767px) {
        margin-bottom: 24px;
    }
    @media (min-width: 768px) {
        margin-bottom: 43px;
    }
}
.hero__search-form {
    position: relative;
}
.hero__search-input {
    width: 100%;
    padding-left: 24px;
    border-radius: 16px;
    outline-offset: 4px;
    outline-width: 0;
    font-weight: 700;
    caret-color: $purple;
    border: 1px solid transparent;
    transition: border-color 250ms;
    @media (max-width: 767px) {
        height: 48px;
        font-size: 16px;
    }
    @media (min-width: 768px) {
        height: 64px;
        font-size: 20px;
    }
}
.hero__search-input:focus {
    border-color: $purple;
}
.body .hero__search-input_error {
    border-color: $red;
}
.hero__search-input-err {
    color: $red;
    font-size: 16px;
    position: absolute;
    bottom: -27px;
    left: 10px;
    opacity: 0;
    transition: opacity 250ms;
}
.hero__search-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
}