%title {
    font-size: 18px;
    font-weight: 700;
}
%title-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}
%meaning-title {
    color: $dark-grey;
    font-size: 16px;
    margin-bottom: 17px;
}
%spliter {
    background-color: $grey;
    height: 1px;
    width: 100%;
}
%item {
    position: relative;
    line-height: 1.6;
    margin-bottom: 13px;
    padding-left: 25px;
}
%item-circle {
    position: absolute;
    left: 0;
    background-color: $purple;
    min-width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-top: 10px;
}
.section-result {
    margin-bottom: 85px;
}
.result__result-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.result__main-title {
    font-size: 32px;
    font-weight: 700;
}
.result__transcription {
    color: $purple;
    font-size: 18px;
    line-height: 1.33;
}
.result__play-btn {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgba(164, 69, 237, 0.25);
    border-radius: 50%;
    transition: background-color 250ms;
    width: 48px;
    height: 48px;
    .result__play-icon {
        width: 13px;
        height: 13px;
        fill: $purple;
        transition: fill 250ms
    }
}
.result__play-btn:hover,
.result__play-btn:focus {
    background-color: $purple;
    .result__play-icon {
        fill: #fff;
    }
}

// Meaning
.result__title-wrapper {
    @extend %title-wrapper;
    .result__title {
        @extend %title;
    }
    .result__spliter {
        @extend %spliter;
    }
}
.result__meaning-title {
    @extend %meaning-title;
}
.result__item {
    @extend %item;
    .result__item-circle {
        @extend %item-circle;
    }
}
.result__synonyms-wrapper,
.result__antonyms-wrapper {
    display: flex;
    gap: 24px;
    .result__synonyms,
    .result__antonyms {
        @extend %meaning-title;
    }
    .result__synonyms-para,
    .result__antonyms-para {
        color: $purple;
        font-size: 16px;
        font-weight: 700;
    }
    .result__synonyms-para:hover,
    .result__synonyms-para:focus,
    .result__antonyms-para:hover,
    .result__antonyms-para:focus {
        text-decoration: underline
    }
}
.result__example {
    @extend %meaning-title;
    margin-top: 13px;
}
.result__end-spliter {
    @extend %spliter;
    margin-bottom: 24px;
}

// Source
.result__src-title {
    display: inline-block;
    color: $dark-grey;
    font-size: 14px;
    line-height: 1.2;
    border-bottom: 1px solid $dark-grey;
    margin-bottom: 8px;
}
.result__src-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.result__src-link {
    position: relative;
    font-size: 14px;
    line-height: normal;
    text-decoration-line: none;
    border-bottom: 1px solid $grey;
}
.result__src-icon {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translate(50%, -50%);
    right: -10px;
}