%meaning-title {
    color: $dark-grey;
    @media (max-width: 767px) {
        font-size: 16px;
        margin-bottom: 17px;
    }
    @media (min-width: 768px) {
        font-size: 20px;
        margin-bottom: 25px;
    }
}
%spliter {
    background-color: $grey;
    height: 1px;
    width: 100%;
}
.section-result {
    @media (max-width: 767px) {
        margin-bottom: 85px;
    }
    @media (min-width: 768px) and (max-width: 1439px) {
        margin-bottom: 118px;
    }
    @media (min-width: 1440px) {
        margin-bottom: 123px;
    }
}
.result__result-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px) {
        margin-bottom: 32px;
    }
    @media (min-width: 768px) {
        margin-bottom: 40px;
    }
}
.result__main-title {
    font-weight: 700;
    @media (max-width: 767px) {
        font-size: 32px;
    }
    @media (min-width: 768px) {
        font-size: 64px;
    }
}
.result__transcription {
    color: $purple;
    line-height: 1.33;
    @media (max-width: 767px) {
        font-size: 18px;
    }
    @media (min-width: 768px) {
        font-size: 24px;
    }
}
.result__play-btn {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgba(164, 69, 237, 0.25);
    border-radius: 50%;
    transition: background-color 250ms;
    .result__play-icon {
        fill: $purple;
        transition: fill 250ms
    }
    @media (max-width: 768px) {
        width: 48px;
        height: 48px;
        .result__play-icon {
            width: 13px;
            height: 13px;
        }
    }
    @media (min-width: 768px) {
        width: 75px;
        height: 75px;
        .result__play-icon {
            width: 21px;
            height: 21px;
        }
    }
}
.result__play-btn:hover,
.result__play-btn:focus {
    background-color: $purple;
    .result__play-icon {
        fill: #fff;
    }
}

// Meaning
.result__wrapper {
    @media (max-width: 767px) {
        margin-bottom: 33px;
    }
    @media (min-width: 768px) {
        margin-bottom: 40px;
    }
}
.result__title-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    @media (max-width: 767px) {
        margin-bottom: 31px;
    }
    .result__title {
        font-weight: 700;
        @media (max-width: 767px) {
            font-size: 18px;
        }
        @media (min-width: 768px) {
            font-size: 24px;
        }
    }
    .result__spliter {
        @extend %spliter;
    }
    @media (min-width: 768px) {
        margin-bottom: 40px;
    }
}
.result__meaning-title {
    @extend %meaning-title;
}
.result__item {
    position: relative;
    line-height: 1.6;
    margin-bottom: 13px;
    padding-left: 25px;
    .result__item-circle {
        position: absolute;
        left: 0;
        background-color: $purple;
        min-width: 5px;
        height: 5px;
        border-radius: 50%;
        margin-top: 10px;
    }
}
.result__synonyms-wrapper,
.result__antonyms-wrapper {
    display: flex;
    gap: 24px;
    .result__synonyms,
    .result__antonyms {
        @extend %meaning-title;
    }
    .result__synonyms-para,
    .result__antonyms-para {
        cursor: pointer;
        position: relative;
        display: inline-block;
        color: $purple;
        font-weight: 700;
        @media (max-width: 767px) {
            font-size: 16px;
        }
        @media (min-width: 768px) {
            font-size: 20px;
        }
    }
    .result__synonyms-para:hover,
    .result__synonyms-para:focus,
    .result__antonyms-para:hover,
    .result__antonyms-para:focus {
        text-decoration: underline
    }
}
.result__example {
    @extend %meaning-title;
    font-size: 16px;
    margin-top: 13px;
    @media (min-width: 768px) {
        font-size: 18px;
    }
}
.result__end-spliter {
    @extend %spliter;
    margin-bottom: 24px;
}
.result__copyed::after {
    content: "Copied!";
    position: absolute;
    right: -80px;
    color: $dark-grey;
    opacity: 0;
    animation: copy 3000ms;
    @media (min-width: 768px) {
        right: -120px;
    }
}

// Source
.result__src-wrapper {
    @media (min-width: 768px) {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }
}
.result__src-title {
    display: inline-block;
    color: $dark-grey;
    font-size: 14px;
    line-height: 1.2;
    border-bottom: 1px solid $dark-grey;
    margin-bottom: 8px;
}
.result__src-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.result__src-link {
    position: relative;
    font-size: 14px;
    line-height: normal;
    text-decoration-line: none;
    border-bottom: 1px solid $grey;
}
.result__src-icon {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translate(50%, -50%);
    right: -15px;
}

// Not found
.result__not-found-container {
    margin-top: 40px;
}
.not-found__sad-smile {
    margin: 0 auto 35px auto;
}
.not-found__title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}
.not-found__para {
    color: $dark-grey;
        text-align: center;
        font-size: 18px;
        line-height: 1.33;
}

@keyframes copy {
    0% {opacity: 0;}
    30% {opacity: 1;}
    100% {opacity: 0;}
}