@import url("../../node_modules/reset-css/reset.css");
@import url("../../node_modules/modern-normalize/modern-normalize.css");
$dark-grey: #757575;
$grey: #E9E9E9;
$light-grey: #F4F4F4;
$purple: #A445ED;
$red: #FF5252;
$black-bg: #050505;


body {
    overflow-y: scroll;
    font-size: 15px;
    line-height: 1.6;
    @media (min-width: 768px) {
        font-size: 18px;
        line-height: 1.33;
    }
}
img {
    display: block;
}
.section {
    padding-left: 24px;
    padding-right: 24px;
    @media (min-width: 768px) {
        padding-left: 40px;
        padding-right: 40px;
    }

}
.content-container {
    margin: 0 auto;
    @media (max-width: 767px) {
        max-width: 500px;
    }
    @media (min-width: 768px) {
        max-width: 736px;
    }
}
.button {
    cursor: pointer;
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@import 'loader';
@import 'themes-and-fonts';
@import 'header';
@import 'hero';
@import 'result';

.disabled {
    display: none;
}