<header class="header">
    <div class="header__container content-container">
        <svg class="header__logo">
            <use href="./assets/images/sprite.svg#icon-logo"></use>
        </svg>
        <div class="header__font-day-night-wrapper">
            <label class="header__font-selector-lable" >
                <p class="header__present-font">Sans Serif</p>
                <svg class="header__font-selector-icon" >
                    <use href="./assets/images/sprite.svg#icon-arrow-down"></use>
                </svg>
            </label>
            <div class="header__spliter"></div>
            <div class="header__toggle-wrapper">
                <label for="day-night" class="header__toggle-lable">
                    <input class="header__toggle-checkbox" type="checkbox" id="day-night" name="day-night">
                    <span class="header__toggle-slider"></span>
                </label>
                <svg class="header__moon-icon">
                    <use href="./assets/images/sprite.svg#icon-moon"></use>
                </svg>
            </div>
        </div>
    </div>
</header>